<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset
        name="preferences"
        label="COM_HITDOWNLOADS_PREFERENCES_LABEL"
        description="COM_HITDOWNLOADS_PREFERENCES_DESCRIPTION"
        addfieldprefix="HITScoutingNL\Component\HitDownloads\Administrator\Field"
    >
        <field
            name="huidigeActieveJaar"
            type="number"
            default="2026"
            label="Huidige actieve jaar"
            description="Voor welk HIT jaar zijn we nu bezig?"
        />
    </fieldset>

    <fieldset
        name="permissions"
        label="JCONFIG_PERMISSIONS_LABEL"
        description="JCONFIG_PERMISSIONS_DESC"
    >
        <field
            name="rules"
            type="rules"
            label="JCONFIG_PERMISSIONS_LABEL"
            class="inputbox"
            validate="rules"
            filter="rules"
            component="com_hitdownloads"
            section="component" />
    </fieldset>

</config>
