<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="preferences"
		label="COM_KAMPINFO_PREFERENCES_LABEL"
		description="COM_KAMPINFO_PREFERENCES_DESCRIPTION"
		addfieldpath="/administrator/components/com_kampinfo/models/fields"
	>
		<field
			name="huidigeActieveJaar"
			type="Project"
			default=""
			label="Huidige actieve jaar"
			description="Voor welk HIT jaar zijn we nu bezig?"
		/>
		
		<field
			name="shantiUrl"
			type="text"
			size="120"
			default="https://sol.scouting.nl/frontend/sol/index.php?task=as_registration&amp;action=add&amp;frm_id="
			label="COM_KAMPINFO_PREFS_SHANTIURL_LABEL"
			description="COM_KAMPINFO_PREFS_SHANTIURL_DESC"
		/>
		
		<field
			name="useComponentUrls"
			type="radio"
			default="0"
			label="COM_KAMPINFO_PREFS_USECOMPONENTURLS_LABEL"
			description="COM_KAMPINFO_PREFS_USECOMPONENTURLS_DESC"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field
			name="template"
			type="text"
			size=""
			default="tpl_kampinfopreview"
			label="Preview template"
			description="Joomla Template voor het tonen van een preview van een HIT Kamp"
		/>
	</fieldset>

	
	<fieldset
		name="icons"
		label="Icoontjes"
		description="Configuratie mbt de iconen en afbeeldingen"
	>
		<field
			name="iconFolderSmall"
			type="text"
			size="80"
			default="media/com_kampinfo/images/iconen25pix"
			label="COM_KAMPINFO_PREFS_ICONFOLDERSMALL_LABEL"
			description="COM_KAMPINFO_PREFS_ICONFOLDERSMALL_DESC"
		/>
		<field
			name="iconFolderLarge"
			type="text"
			size="80"
			default="media/com_kampinfo/images/iconen40pix"
			label="COM_KAMPINFO_PREFS_ICONFOLDERLARGE_LABEL"
			description="COM_KAMPINFO_PREFS_ICONFOLDERLARGE_DESC"
		/>
		<field
			name="iconExtension"
			type="list"
			default=".gif"
			label="COM_KAMPINFO_PREFS_ICONEXTENSION_LABEL"
			description="COM_KAMPINFO_PREFS_ICONEXTENSION_DESC"
		>
			<option value=".gif">GIF</option>
			<option value=".png">PNG</option>
			<option value=".jpg">JPG</option>
		</field>
		<field
			name="activiteitengebiedenFolder"
			type="text"
			size="80"
			default="media/com_kampinfo/images/activiteitengebieden"
			label="COM_KAMPINFO_PREFS_ACTIVITEITENGEBIEDENFOLDER_LABEL"
			description="COM_KAMPINFO_PREFS_ACTIVITEITENGEBIEDENFOLDER_DESC"
		/>
		<field
			name="activiteitengebiedenExtension"
			type="list"
			default=".png"
			label="COM_KAMPINFO_PREFS_ACTIVITEITENGEBIEDENEXTENSION_LABEL"
			description="COM_KAMPINFO_PREFS_ACTIVITEITENGEBIEDENEXTENSION_DESC"
		>
			<option value=".gif">GIF</option>
			<option value=".png">PNG</option>
			<option value=".jpg">JPG</option>
		</field>
	</fieldset>
	
	
	<fieldset
		name="Soap"
		label="Soap-koppeling"
		description="Configuratie van de Soap-koppeling."
	>
		<field
			name="soapUser"
			type="text"
			size="20"
			label="SOL User"
			description="SOL gebruikersnaam om mee in te loggen."
		/>
		<field
			name="soapPassword"
			type="password"
			size="20"
			label="SOL Password"
			description="SOL wachtwoord om mee in te loggen."
		/>
		<field
			name="soapRolemask"
			type="text"
			default="63,%SNID%,35,9121,9,1"
			size="30"
			label="SOL Rolmasker"
			description="SOL rol om mee in te loggen, op de plek van '%SNID%' wordt het scoutinglidnummer van de gebruiker ingevuld."
		/>
		<field
			name="soapSui"
			type="text"
			default="hit"
			size="8"
			label="SOL Unique Id"
			description="Het unieke ID om de SOAP verbinding mee op te zetten."
		/>
		<field
			name="soapPrivateKey"
			type="textarea"
			label="SOL Private RSA Key"
			cols="66"
			description="De private key om SOAP messages te signeren."
		/>
		<field
			name="soapWsdl"
			type="text"
			default="http://sol.scouting.nl/frontend/sol/sol.wsdl"
			size="80"
			label="SOL WSDL"
			description="De url van de wsdl voor de SOAP-koppeling."
		/>
	</fieldset>
	
	
	<fieldset
		name="AutoDownload"
		label="Formulieren Download"
		description="Automatisch downloaden en importeren van formulieren uit SOL"
	>
		<field
			name="downloadSecret"
			type="text"
			default="paaskonijn"
			size="8"
			label="Secret"
			description="De secret handshake voor het extern aanschoppen van de download van inschrijvingen"
		/>
		<field
			name="downloadKampRegistratiePartsIds"
			type="text"
			default="1000"
			size="50"
			label="Kampregistratie subselectie"
			description="Hiermee kun je de te downloaden onderdelen aangeven (vaak op basis van status). De id's moeten gescheiden worden door komma's en mag geen spaties bevatten!"
		/>
		<!-- 
		<field
			name="downloadEventIdInschrijvingen"
			type="text"
			default="3331"
			size="8"
			label="Event ID Inschrijvingen"
			description="Het event id met alle inschrijfformulieren."
		/>
		 -->
	</fieldset>

	
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_kampinfo"
			section="component" />
	</fieldset>

</config>
