.iconlist {
	float: right;
}

.activiteitengebiedenlist img,
.iconlist img {
	margin-right: 0px !important;
}

.activiteitengebiedenlist {
	float: left;
	padding-top: 1em;
}
.kampdata {
	float:right;
	padding-top: 1em;
}
.kampdata table {
	width: 190px;	
}

td.articleTekst {
	vertical-align: top;
	width: 480px;
	padding-right: 15px;
}
.articleTekst p {
	padding-bottom: .5em;
}

td.articleFotos {
	vertical-align: top;
	width: 190px;
	text-align: right;
}

td.articleFotos img {
	margin-right: 0px !important;
}
